$main-color: #25292D;
$second-color: #f5deb3;

$header-height: 40px;
$header-logo-font-size: 20px;

$side-header-height: 100px; 
$side-width:200px;


$card-width:270px;
$card-select-players-width:30px;
$card-select-players-height:158px;
$input-group-text-height:80px;